blueprint/Printify Info Checker.json
{
    "name": "Printify Info Checker",
    "flow": [
        {
            "id": 700,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "lowest cost",
                "scope": "execution",
                "value": "99999999"
            },
            "metadata": {
                "designer": {
                    "x": 4081,
                    "y": 1802
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One execution"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "lowest cost",
                        "type": "any",
                        "label": "lowest cost"
                    }
                ]
            }
        },
        {
            "id": 710,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 4326,
                    "y": 1811
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 688,
                            "module": "printify:listBlueprints",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1741641
                            },
                            "mapper": {
                                "limit": "999"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4561,
                                    "y": 1812
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "printify"
                                            },
                                            "label": "My Printify connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:printify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 689,
                            "module": "printify:listBlueprintProviders",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1741641
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{688.title}}",
                                            "b": "poster",
                                            "o": "text:contain:ci"
                                        },
                                        {
                                            "a": "{{688.title}}",
                                            "b": "unframed",
                                            "o": "text:contain:ci"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{688.title}}",
                                            "b": "frame",
                                            "o": "text:notcontain:ci"
                                        },
                                        {
                                            "a": "{{688.title}}",
                                            "b": "poster",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{688.id}}",
                                "limit": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4871,
                                    "y": 1812
                                },
                                "restore": {
                                    "expect": {
                                        "id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "printify"
                                            },
                                            "label": "My Printify connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:printify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Blueprint ID",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 690,
                            "module": "printify:listOfVariantsOfABlueprint",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1741641
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{689.id}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{689.title}}",
                                            "b": "jondo",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "limit": "1",
                                "provider_id": "{{689.id}}",
                                "blueprint_id": "{{688.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5147,
                                    "y": 1819
                                },
                                "restore": {
                                    "expect": {
                                        "provider_id": {
                                            "mode": "edit"
                                        },
                                        "blueprint_id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "printify"
                                            },
                                            "label": "My Printify connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:printify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "blueprint_id",
                                        "type": "select",
                                        "label": "Blueprint ID",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "provider_id",
                                        "type": "select",
                                        "label": "Print Provider ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 702,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "lowest cost"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5413,
                                    "y": 1814
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "lowest cost",
                                        "type": "any",
                                        "label": "lowest cost"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 703,
                            "module": "printify:createAProduct",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1741641
                            },
                            "mapper": {
                                "title": "test",
                                "shopId": 15264204,
                                "variants": [
                                    {
                                        "id": "{{690.id}}",
                                        "price": "1",
                                        "is_enabled": true
                                    }
                                ],
                                "description": "test",
                                "print_areas": [
                                    {
                                        "variant_ids": "{{690.id}}",
                                        "placeholders": [
                                            {
                                                "images": [
                                                    {
                                                        "x": "0",
                                                        "y": "0",
                                                        "id": "66025ed79d7616b54dea87c0",
                                                        "angle": "0",
                                                        "scale": "0"
                                                    }
                                                ],
                                                "position": "front"
                                            }
                                        ]
                                    }
                                ],
                                "blueprint_id": "{{688.id}}",
                                "print_details": {},
                                "print_provider_id": "{{689.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5718,
                                    "y": 1832
                                },
                                "restore": {
                                    "expect": {
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "shopId": {
                                            "mode": "chose",
                                            "label": "Vienna has Fallen"
                                        },
                                        "variants": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "id": {
                                                        "mode": "edit"
                                                    },
                                                    "is_enabled": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            ]
                                        },
                                        "print_areas": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "variant_ids": {
                                                        "mode": "edit"
                                                    },
                                                    "placeholders": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "images": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        {
                                                                            "id": {
                                                                                "mode": "chose",
                                                                                "label": "file.png"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "blueprint_id": {
                                            "mode": "edit"
                                        },
                                        "print_details": {
                                            "nested": {
                                                "print_on_side": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        },
                                        "print_provider_id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "printify"
                                            },
                                            "label": "My Printify connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:printify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "shopId",
                                        "type": "select",
                                        "label": "Shop ID",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description",
                                        "required": true
                                    },
                                    {
                                        "name": "blueprint_id",
                                        "type": "select",
                                        "label": "Blueprint ID",
                                        "required": true
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "print_details",
                                        "spec": [
                                            {
                                                "name": "print_on_side",
                                                "type": "select",
                                                "label": "Print On Side",
                                                "validate": {
                                                    "enum": [
                                                        "regular",
                                                        "mirror",
                                                        "off"
                                                    ]
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Print Details"
                                    },
                                    {
                                        "name": "print_provider_id",
                                        "type": "select",
                                        "label": "Print Provider ID",
                                        "required": true
                                    },
                                    {
                                        "name": "variants",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "mode": "edit",
                                                    "name": "id",
                                                    "type": "select",
                                                    "label": "Variant ID",
                                                    "dynamic": true,
                                                    "options": [],
                                                    "required": true
                                                },
                                                {
                                                    "name": "price",
                                                    "type": "number",
                                                    "label": "Price",
                                                    "required": true
                                                },
                                                {
                                                    "name": "is_enabled",
                                                    "type": "boolean",
                                                    "label": "Is Enabled"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Variants",
                                        "required": true
                                    },
                                    {
                                        "name": "print_areas",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "variant_ids",
                                                    "spec": {
                                                        "mode": "edit",
                                                        "type": "select",
                                                        "dynamic": true,
                                                        "options": []
                                                    },
                                                    "type": "array",
                                                    "label": "Variant IDs",
                                                    "required": true
                                                },
                                                {
                                                    "name": "placeholders",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "position",
                                                                "type": "text",
                                                                "label": "Position",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "images",
                                                                "spec": {
                                                                    "spec": [
                                                                        {
                                                                            "name": "id",
                                                                            "type": "select",
                                                                            "label": "ID",
                                                                            "dynamic": true,
                                                                            "options": [],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "x",
                                                                            "type": "number",
                                                                            "label": "X",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "y",
                                                                            "type": "number",
                                                                            "label": "Y",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "scale",
                                                                            "type": "number",
                                                                            "label": "Scale",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "angle",
                                                                            "type": "number",
                                                                            "label": "Angle",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                "type": "array",
                                                                "label": "Images",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Placeholders",
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Print Areas",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 704,
                            "module": "printify:deleteAProduct",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1741641
                            },
                            "mapper": {
                                "shop_id": "{{703.shop_id}}",
                                "product_id": "{{703.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5985,
                                    "y": 1845
                                },
                                "restore": {
                                    "expect": {
                                        "shop_id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "printify"
                                            },
                                            "label": "My Printify connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:printify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "shop_id",
                                        "type": "select",
                                        "label": "Shop ID",
                                        "required": true
                                    },
                                    {
                                        "name": "product_id",
                                        "type": "any",
                                        "label": "Product ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 705,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 703
                            },
                            "mapper": {
                                "variants": "{{703.variants}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 6273,
                                    "y": 1840
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Printify - Create a Product [703]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 709,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{705.array[].variants}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 6511,
                                    "y": 1842
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 706,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{709.price}}",
                                            "b": "{{702.`lowest cost`}}",
                                            "o": "number:less"
                                        },
                                        {
                                            "a": "{{709.title}}",
                                            "b": "24\"",
                                            "o": "text:contain"
                                        },
                                        {
                                            "a": "{{709.title}}",
                                            "b": "36\"",
                                            "o": "text:contain"
                                        },
                                        {
                                            "a": "{{709.title}}",
                                            "b": "horizontal",
                                            "o": "text:notcontain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "lowest cost",
                                "scope": "roundtrip",
                                "value": "{{709.cost}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 6866,
                                    "y": 1845,
                                    "name": "Lowest Cost"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "lowest cost",
                                        "type": "any",
                                        "label": "lowest cost"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 707,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "blueprint id",
                                "scope": "roundtrip",
                                "value": "{{688.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 7125,
                                    "y": 1856,
                                    "name": "Blueprint ID"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "blueprint id",
                                        "type": "any",
                                        "label": "blueprint id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 708,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "provider id",
                                "scope": "roundtrip",
                                "value": "{{689.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 7380,
                                    "y": 1852,
                                    "name": "Provider ID"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "provider id",
                                        "type": "any",
                                        "label": "provider id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 715,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "title",
                                "scope": "roundtrip",
                                "value": "{{709.title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 7651,
                                    "y": 1851,
                                    "name": "Title"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "any",
                                        "label": "title"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 717,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "provider",
                                "scope": "roundtrip",
                                "value": "{{689.title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 7899,
                                    "y": 1853,
                                    "name": "Provider"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "provider",
                                        "type": "any",
                                        "label": "provider"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 711,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "lowest cost"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4340,
                                    "y": 2223,
                                    "name": "Lowest Cost"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "lowest cost",
                                        "type": "any",
                                        "label": "lowest cost"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 712,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "blueprint id"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4616,
                                    "y": 2240,
                                    "name": "Blueprint ID"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "blueprint id",
                                        "type": "any",
                                        "label": "blueprint id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 713,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "provider id"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4870,
                                    "y": 2244,
                                    "name": "Provider ID"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "provider id",
                                        "type": "any",
                                        "label": "provider id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 716,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "title"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5161,
                                    "y": 2237,
                                    "name": "Title"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "any",
                                        "label": "title"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 718,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "provider"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5428,
                                    "y": 2228,
                                    "name": "Provider"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "provider",
                                        "type": "any",
                                        "label": "provider"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 719,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 5454,
                                    "y": 2537
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 720,
                                            "module": "printify:listOfVariantsOfABlueprint",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 1741641
                                            },
                                            "mapper": {
                                                "limit": "100",
                                                "provider_id": "{{713.`provider id`}}",
                                                "blueprint_id": "{{712.`blueprint id`}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 5713,
                                                    "y": 2538
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "provider_id": {
                                                            "mode": "edit"
                                                        },
                                                        "blueprint_id": {
                                                            "mode": "edit"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "printify"
                                                            },
                                                            "label": "My Printify connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:printify",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "blueprint_id",
                                                        "type": "select",
                                                        "label": "Blueprint ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "limit",
                                                        "type": "uinteger",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "provider_id",
                                                        "type": "select",
                                                        "label": "Print Provider ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 733,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "Paper Type",
                                                "scope": "roundtrip",
                                                "value": "Semi Glossy"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 5958,
                                                    "y": 2535
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "Paper Type",
                                                        "type": "any",
                                                        "label": "Paper Type"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 721,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 6193,
                                                    "y": 2546
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 722,
                                                            "module": "util:SetVariable2",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "24 x 36",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "24",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "36",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "vertical",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.title}}",
                                                                            "b": "{{733.`Paper Type`}}",
                                                                            "o": "text:contain:ci"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "name": "24x36",
                                                                "scope": "roundtrip",
                                                                "value": "{{720.id}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 6647,
                                                                    "y": 2471,
                                                                    "name": "24x36"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "scope": {
                                                                            "label": "One cycle"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "scope",
                                                                        "type": "select",
                                                                        "label": "Variable lifetime",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "roundtrip",
                                                                                "execution"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "24x36",
                                                                        "type": "any",
                                                                        "label": "24x36"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 723,
                                                            "module": "util:SetVariable2",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "18 x 24",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "18",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "24",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "vertical",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.title}}",
                                                                            "b": "{{733.`Paper Type`}}",
                                                                            "o": "text:contain:ci"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "name": "18x24",
                                                                "scope": "roundtrip",
                                                                "value": "{{720.id}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 6646,
                                                                    "y": 2755,
                                                                    "name": "18x24"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "scope": {
                                                                            "label": "One cycle"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "scope",
                                                                        "type": "select",
                                                                        "label": "Variable lifetime",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "roundtrip",
                                                                                "execution"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "18x24",
                                                                        "type": "any",
                                                                        "label": "18x24"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 725,
                                                            "module": "util:SetVariable2",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "11 x 17",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "11",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "17",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "vertical",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.title}}",
                                                                            "b": "{{733.`Paper Type`}}",
                                                                            "o": "text:contain:ci"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "name": "11x17",
                                                                "scope": "roundtrip",
                                                                "value": "{{720.id}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 6634,
                                                                    "y": 3042,
                                                                    "name": "11x17"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "scope": {
                                                                            "label": "One cycle"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "scope",
                                                                        "type": "select",
                                                                        "label": "Variable lifetime",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "roundtrip",
                                                                                "execution"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "11x17",
                                                                        "type": "any",
                                                                        "label": "11x17"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 731,
                                                            "module": "util:SetVariable2",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "28 x 40",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "28",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "40",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.options.size}}",
                                                                            "b": "vertical",
                                                                            "o": "text:contain:ci"
                                                                        },
                                                                        {
                                                                            "a": "{{720.title}}",
                                                                            "b": "{{733.`Paper Type`}}",
                                                                            "o": "text:contain:ci"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "name": "28x40",
                                                                "scope": "roundtrip",
                                                                "value": "{{720.id}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 6635,
                                                                    "y": 2207,
                                                                    "name": "28x40"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "scope": {
                                                                            "label": "One cycle"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "scope",
                                                                        "type": "select",
                                                                        "label": "Variable lifetime",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "roundtrip",
                                                                                "execution"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "28x40",
                                                                        "type": "any",
                                                                        "label": "28x40"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 734,
                                            "module": "util:GetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "variables": [
                                                    "28x40",
                                                    "24x36",
                                                    "18x24",
                                                    "11x17"
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 5463,
                                                    "y": 2863
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "variables": {
                                                            "items": [
                                                                null,
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "text",
                                                            "label": "Variable name",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "Variables"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "28x40",
                                                        "type": "any",
                                                        "label": "28x40"
                                                    },
                                                    {
                                                        "name": "24x36",
                                                        "type": "any",
                                                        "label": "24x36"
                                                    },
                                                    {
                                                        "name": "18x24",
                                                        "type": "any",
                                                        "label": "18x24"
                                                    },
                                                    {
                                                        "name": "11x17",
                                                        "type": "any",
                                                        "label": "11x17"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 714,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 986467
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "0": "{{711.`lowest cost`}}",
                                                    "1": "{{712.`blueprint id`}}",
                                                    "2": "{{713.`provider id`}}",
                                                    "3": "{{716.title}}",
                                                    "4": "{{718.provider}}",
                                                    "5": "{{734.`28x40`}}",
                                                    "6": "{{734.`24x36`}}",
                                                    "7": "{{734.`18x24`}}",
                                                    "8": "{{734.`11x17`}}"
                                                },
                                                "sheetId": "Vertical Posters",
                                                "rowNumber": "2",
                                                "spreadsheetId": "/1zreNpArs32KemnPr1AXbp6ekTFHj9IdJzkcotyM1w-c",
                                                "includesHeaders": true,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 5758,
                                                    "y": 2872
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "Vertical Posters"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "Poster Prinitify Info"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Price (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Blueprint ID (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Provider ID (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Title (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "Provider (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "24 x 36 (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "18 x 24 (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "11 x 17 (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "5 x 7 (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "(J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "(K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "(L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "(R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "(S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "(T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "(U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "(V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "(X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "(Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values"
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "WAC Updates (theaiartcrew@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Price (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Blueprint ID (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Provider ID (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Title (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "Provider (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "24 x 36 (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "18 x 24 (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "11 x 17 (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "5 x 7 (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "(J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "(K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "(L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "(R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "(S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "(T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "(U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "(V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "(X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "(Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 529,
                    "text": "",
                    "filter": false
                },
                {
                    "id": 200,
                    "text": "",
                    "filter": false
                },
                {
                    "id": 16,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com",
        "notes": []
    }
}